/* ------------------------------------ IMPORT --------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
/* police à utiliser => font-family: "Oswald", sans-serif; */

/* ------------------------------------ GLOBAL RULE --------------------------------- */

:root {
  --black: #1e1e1e;
  --white: #ffffff;
  --grey-rose: rgba(218, 210, 210, 0.817);
}

/* pour faire disparaître la CSS dù au lien, donner une className au lien et noter ceci : */
.link {
  text-decoration: inherit;
  color: inherit;
}

/* ------------------------------------ HEADER --------------------------------- */

.header {
  height: 110px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #f0f0f0;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}
.wrapper {
  margin: 0px 50px 0px 50px;
}
.header img {
  width: 289px;
  height: 32px;
}

/* ------------------------------------ PROPERTY TYPE --------------------------------- */

.main-title {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: #ff9e23;
  text-transform: uppercase;
  margin: 15px 0px 15px 0px;
}
.property-type-box-container {
  background-color: lightblue;
  line-height: 200px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

/* .property-type-box {
  border: 1px solid #b7b7b7;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  height: 95px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  position: relative;
  -webkit-box-shadow: 0 4px 0 #e4e4e4;
  -moz-box-shadow: 0 4px 0 #e4e4e4;
  box-shadow: 0 4px 0 #e4e4e4;
} */
