/* ------------------------------------ IMPORT --------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
/* police à utiliser => font-family: "Oswald", sans-serif; */

/* ------------------------------------ GLOBAL RULE --------------------------------- */

:root {
  --black: #000;
  --white: #fff;
  --orange: #ff9e23;
  --grey-border: #f0f0f0;
  --grey-box-border: #b7b7b7;
  --grey-box-shadow: #e4e4e4;
}

/* pour faire disparaître la CSS dù au lien, donner une className au lien et noter ceci : */
.link {
  text-decoration: inherit;
  color: inherit;
}

/* ------------------------------------ HEADER --------------------------------- */

.header {
  height: 110px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--grey-border);
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}
.wrapper {
  margin: 0px 50px 0px 50px;
}
.header img {
  width: 289px;
  height: 32px;
}

/* ------------------------------------ PROPERTY TYPE --------------------------------- */

.main-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--orange);
  text-transform: uppercase;
  margin: 25px 0px 25px 0px;
}
.property-type-box-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 80px;
}
.property-type-box {
  height: 80px;
  width: 49.5%;
  border: 1px solid var(--grey-box-border);
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 4px 0 var(--grey-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.property-type-text {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  margin-left: 10px;
}
/* .checked {
  background-color: red;
} */
/* ------------------------------------ PROPERTY USE --------------------------------- */

.property-use-box {
  height: 80px;
  width: 32.67%;
  border: 1px solid var(--grey-box-border);
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 4px 0 var(--grey-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------ BORROWER CURENT SITUATION --------------------------------- */

.property-borrower-situation-box {
  height: 80px;
  width: 24.25%;
  border: 1px solid var(--grey-box-border);
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 4px 0 var(--grey-box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------ FOOTER --------------------------------- */
.footer-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.footer-button-previous {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: var(--black);
  text-decoration: underline;
  cursor: pointer;
}
.footer-button-next {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: var(--white);
  background-color: var(--orange);
  padding: 5px 40px 5px 40px;
  border-radius: 30px;
}
.footer-text {
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  color: var(--black);
}
.underline {
  text-decoration: underline;
}
